

@import './styles/variables';
@import './styles/base';

app-top-nav + main {
  padding-top: 64px; /* space for nav */
}

main { display: block; padding: 1rem 0; }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
