<div>
  <nav class="navigation-bar">
    <div class="nav-logo"><span class="logo-e">Whal</span><span class="logo-whale">-E</span></div>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </a>
      <a routerLink="/videos" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>video_library</mat-icon>
        <span>Vídeos</span>
      </a>
      <a routerLink="/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>contact_support</mat-icon>
        <span>Contacto</span>
      </a>
    </div>
    <div class="nav-user">
      @if (authService.currentUser$ | async; as user) {
        <span class="welcome-text">{{ user.username }}!</span>
        @if (user.role.name === 'admin') {
          <button class="btn-admin" routerLink="/admin">Admin</button>
        }
        <button class="btn-profile" routerLink="/profile">Mis vídeos</button>
        <button class="btn-logout" (click)="onLogout()">Cerrar sesión</button>
      } @else {
        <button class="btn-login" routerLink="/register">Registrarse</button>
        <button class="btn-profile" routerLink="/login">Iniciar sesión</button>
      }
    </div>
  </nav>
</div>
